%h1= "#{@user.name}\'s Etsy Suggestions"

%p#notice= notice

-if @user.auth_token.blank?
  =button_to "Register Hunch", 'http://hunch.com/authorize/v1/?app_id=3148074'
  %br

-if @listings
  %br
  #container
    - @listings.each do |listing|
      .item= link_to image_tag(listing["MainImage"]["url_fullxfull"]), listing["url"], target: "_blank"

