%h1 About Us
%br
.well
  %h3 What is Syphus Training™?
  %p Syphus Training™ is a new breed of exercise called High Intensity Progressive |
     Circuit Training™  in which a list of physical Tasks must be completed within |
     an hour’s time.                                                               |

  %h3 Who can take Syphus Training™?
  %p Anyone and everyone looking to get into shape. This style of training really |
     has no limits. It’s great for those simply looking to lose weight and gain   |
     muscle tone. Likewise, it’s a perfect way to break up the monotony of boring |
     training routines. Then again, this training is ideal – even tailored – to   |
     the avid exerciser or  athlete looking to push themselves to new limits.     |
     NOTE: It is not recommended to those brand new to exercise.                  |

  %h3 What are Tasks?
  %p In Syphus Training™ we call our exercises Tasks. From simple to complex      |
     these                                                                        |
     Tasks come in the form of cardio, stregnth, plyometric, core, agility and    |
     Syphus Specific™ exercises. With currently over 200 different Tasks, each    |
     class provides a unique challenge.                                           |

  %h3 What are Mountains?
  %p In Syphus Training™ we call our circuits Mountains. This is because most of  |
     our circuits evolve gradually through different types of progressions. We    |
     currently have 26 different types of Mountains each with their own distinct  |
     characteristics. Overcoming each Mountain requires different strategy and    |
     physical output.                                                             |

  %h3 What is ROQ?
  %p Relative Overall Quotient, or ROQ, is a score that Syphus Training™          |
     participants work to attain and improve. Consider this number to be your     |
     fitness IQ, or fitness credit score of sorts.  This number is graded on a    |
     scale from 1-1000 with 1000 being the highest possible score. This number    |
     serves several purposes; It can show you your current state of fitness, it   |
     will serve as a way to monitor your progress and it will motivate you by     |
     creating a healthy level of competition amongst others involved in Syphus    |
     Training ™.                                                                  |

  %h3 How is the ROQ derived?
  %p Many factors go into figuring out one’s Relative Overall Quotient. The simplest explanation is that we use something called the ROQ Formula which takes every Task’s difficulty, the the time in which they’re completed in, and calculates a score based on these numbers. More information on the exact mathematics behind the ROQ Formula will become available under the Members Only section in due time.


  %h3 What does FAQTORED mean?
  %p Simply put, it means that your ROQ was figured out without fully completing the routine. Generally speaking your scores will only be FAQTORED:
  %ol
    %li If you’re brand-new to Syphus Training
    %li If the ROQ board is “wiped clean”
    %li The trainer rewards an excellent performance

  %h3 What is the Database?
  %p Once you compete (or participate) in 10 or more classes you are given the opportunity to enter your thoughts into the Database. This is your chance to sound off on which Tasks you find to be the most difficult. You give each Task a ranking based on things like duration, complexity, etc. From there we average all of these votes to come up with our Task ranking system which is ultimately reflected in the ROQs of each and every class. So really, you – the participants – are steering the way in which the ROQs are figured. The more people enrolled in Syphus Training™, the more input goes into the Database making a more accurate and objective  ROQ score.

  %h3 What is the Sypher?
  %p The SYPHER is our code of conduct. They are the rules by which you should try to obey to when Syphus Training™.

  %h3 What does it cost?
  %p We currently accept only cash or checks made payable to Syphus Training LLC.
  %p We have several different packages:
  %ul
    %li $15 per class
    %li $60 for 5 classes
    %li $100 for 10 classes
    %li $120 for a monthly unlimted pass
    %li *$70.00 for a private class (4 week min.)


  %h3 Where can I do Syphus Training™?
  %p Currently at only one location: Pointe Fitness and Training Center in Harper Woods, Michigan. Future home will be in St. Clair Shores on 9-Mile between Harper and I-94.
