%h1 About Us
%br
.well
  %h3 What is Hsty!?

  %p Hesty! uses the power of Hunch to find your likes and dislikes then |
    searches Etsy's unique database to find you something that fits your likes. |
