%h1 Welcome to Syphus Training
.well
  .row
    .span5
      .main This sites currently being built and will be available shortly.      |
        Head over to our working site and while we are working on this one.  |

    .span5
      .main-button
        = button_to("Go to Syphus", "http://syphustraining.com", class:"btn-inverse goto-syphus")

