%h1 Welcome to Htsy
%br
.well
  .row
    .span12
      %h4.center This site was built at hackny! Htsy uses the computing power of Hunch to find you unique items |
        that suit your taste on Etsy. |

    .span5
      .main-button
        - unless signed_in?
          = button_to("Sign up here", signup_path, class:"btn-inverse goto-syphus")

