%h1 Welcome to Hesty!
%br
.well
  .row
    .span5
      .main This site was built at hackny!

    .span5
      .main-button
        - unless signed_in?
          = button_to("Sign up here", signup_path, class:"btn-inverse goto-syphus")

