%h1 Welcome to Htsy
%br
.well
  .row
    .span12
      %h4.center This site was built at hackNY! Htsy uses the computing power of Hunch to find you unique items |
        that suit your taste on Etsy. |

  .row
    .span12
      .main-button.center
        - unless signed_in?
          %br
          = button_to("Sign up here", signup_path, class:"btn-inverse goto-syphus")

